body {
    font-family: helvetica arial verdana sans-serif;
    font-size: 12px;
    line-height: 1.6em;
    color: #000;
    margin: 0;
}

.container {
    max-width: 1000px;
    padding: 30px;
    margin: auto;
}

small {
    font-size: .7em;
    font-weight: normal;
    color: #666;
}

pre {
    padding-left: 20px;
    border-left: solid #888 2px;
}
