body {
  background-color: #f0ffff;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.6em;
  color: #000;
  margin: 0;
  overflow: hidden;
}

a {
  color: #a70000;
  text-decoration: none;
}
a:active, a:visited {
  color: #a70000;
}
a:hover {
  color: #ff7070;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-weight: normal;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4, h5, h6 { font-weight: bold; }

header {
  color: #ffffff;
  font-size: 1.5em;
  background-color: #008282;
  line-height: 3em;
  vertical-align: middle;
  padding-left: 15px;
  box-shadow: 0px 3px 3px #999;
}
header a { color: inherit; }
header a:hover, header a:active, header a:visited { color: inherit; }

section.body {
  height: calc(100vh - 3em - 15px);
  margin: auto;
  overflow-y: auto;
}

section.body > h1 {
  margin: 30px auto;
  width: 88%;
  max-width: 950px;
}

.entry {
  margin: auto;
  padding: 15px;
  background: white;
  box-shadow: 0px 0px 3px #999;
  width: 90%;
  max-width: 1000px;
  transition: max-width 0.1s ease-in-out, margin 0.3s ease-in-out;
  cursor: pointer;
}
.entry.expanded {
  width: 95%;
  max-width: 1100px;
  margin: 15px auto;
  cursor: default;
}

.entry .title {
  font-size: 1.1em;
}
.entry.expanded .title {
  cursor: pointer;
}

.entry .content {
  max-height: 0px;
  overflow: hidden;
}
.entry.expanded .content {
  max-height: none;
}

small {
  font-size: .9em;
  color: #659c9c;
}

pre {
    padding-left: 20px;
    border-left: solid #888 2px;
    font-size: 1em;
}

p code {
    padding: 2px;
    border-radius: 5px;
    background-color: #eee;
}
